@using CyberEye.Models.Entity
@model List<TBLDEPARTMENT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About - Moderna Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Moderna/assets/img/favicon.png" rel="icon">
    <link href="~/Moderna/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Moderna/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Moderna/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Moderna/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.3.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    

    <main id="main">
        <br />
        <br />
        @using (Html.BeginForm("Index", "Department", FormMethod.Get))
        {
            <p>
                <h4>Department Name: </h4>@Html.TextBox("s")
                <h5><input type="submit" value="Search" /></h5>
            </p>
        }

        <table id="aaa" class="table table-striped table-dark table-hover" style="width: 10000px; height:250px; margin-bottom: 90px;">
            @*table table-bordered*@
            <thead>
                <tr>
                    <th><center><h3>DEPARTMENT ID</h3></center></th>
                    <th><center><h3>DEPARTMENT</h3></center></th>
                    <th><center><h3> </h3></center></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dprt in Model)
                {
                    <tr>
                        <th><center><h4>@dprt.DEPARTMENTID</h4></center></th>
                        <th><center><h4>@dprt.Department</h4></center></th>

                        <td>

                            <a href="/Department/Edit/@dprt.DEPARTMENTID" class="btn btn-warning btn-lg active">EDIT</a>
                            @Html.ActionLink("DELETE", "Delete", new { id = dprt.DEPARTMENTID },
                           new { @class = "btn btn-danger btn-lg active", onclick = "return confirm('Are you sure you want to delete?')" })
                        </td>

                    </tr>

                }
            <td><a href="/Department/Add" class="btn btn-success btn-block btn-lg active">ADD NEW DEPARTMENT</a></td>
            </tbody>

        </table>




    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">



      <div class="footer-top" >
            <div class="container">
                <div class="row">


                    


                    <div class="col-lg-3 col-md-6 footer-contact" style="margin-left:100px;">
                        <h4>Contact Us</h4>
                        <p>
                            <br>
                            Mithatpaşa Caddesi No:14 06100<br>
                            Yenişehir/Ankara <br><br>
                            <strong>Phone:</strong> +90 531 911 2767<br>
                            <strong>Email:</strong> emreozdem70@gmail.com<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>About Emre ÖZDEM</h3>
                        <p>Student at Çukurova University 4th class.</p><br>
                        <p>Check out the links below.</p>
                        <div class="social-links mt-3">
                            <a href="https://drive.google.com/file/d/1jn4IemF9vz52ORUeN7l8EyXIU0Q1T3V5/view?usp=sharing" target="_blank" class="resume"><i class="bx bxs-log-in"></i></a>
                            <a href="https://github.com/emreozdem" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                            <a href="https://www.linkedin.com/in/emre-%C3%B6zdem-7b6a67184/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 footer-contact">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3059.7438258076845!2d32.85419651744384!3d39.92474869999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1631584173934!5m2!1str!2str" width="250" height="250" style="border:1;" allowfullscreen="false" loading="lazy"></iframe>
                    </div>

                </div>
            </div>
        </div> 

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/Moderna/assets/vendor/aos/aos.js"></script>
        <script src="~/Moderna/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Moderna/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/Moderna/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/Moderna/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/Moderna/assets/vendor/purecounter/purecounter.js"></script>
        <script src="~/Moderna/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/Moderna/assets/vendor/waypoints/noframework.waypoints.js"></script>

        <!-- Template Main JS File -->
        <script src="~/Moderna/assets/js/main.js"></script>

</body>

</html>