@model CyberEye.Models.Entity.TBLUSER
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Business Login Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- css files -->
    <link href="~/web/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

    <div class="signupform">
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>CYBER EYE PORTAL</h1>
                        <p>Welcome to the CyberEye portal. You must be logged in to view and edit employees and departments.</p>
                        <img src="~/web/images/download.png" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>Login to your Account</h2>
                    <p>Enter your details to login.</p>
                    @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                    {
                        <label>Email Address</label>
                        <div class="input-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <input type="text" placeholder="Enter Your User Name" required="" name="username">
                        </div>
                        <label>Password</label>
                        <div class="input-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <input type="Password" placeholder="Enter Password" required="" name="password">
                        </div>
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Remember me</label>
                        </div>
                        <button class="btn btn-danger btn-block" type="submit">Login</button>
                    }
                <p class="account">Check out Emre Özdem's  <a href="#">github </a>account </p>
                    
                </div>
            </div>
            <!-- //main content -->
        </div>
        
    </div>

</body>
</html>